<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @order_item.menu_item_id %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @order_item.order.customer_name %>
</p>
<p>
  <strong>Item name:</strong>
  <%= @order_item.menu_item.name %>
</p>

<%= link_to 'Edit', edit_order_order_item_path(@order_item) %> |
<%= link_to 'Back', order_order_items_path %>
